html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.8);
  scroll-behavior: smooth;
}

hr {
  width: 99%;
  border: 1px solid;
}

.btn-small {
  margin: 5px 10px !important;
}

.h4 {
  font-size: 2.28rem;
}

.header {
  font-size: 3.5rem;
  font-weight: 200;
}

.main-body-constainer {
  display: grid;
  place-items: center;
  padding-top: 3rem;
}

.tabs {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.57);
}
