.home {
  background-image: url("../assets/home.png");
  background-size: cover;
  height: 100vmin;
}

.container {
  position: relative;
  top: 5rem;
  cursor: default;
}

.home-btn:hover {
  background-color: #c7c3c3;
}

.home-btn {
  font-size: 19px;
  display: block;
  background-color: #e7e7e7;
  color: rgba(0, 0, 0, 0.7);
  margin: auto;
  width: 16rem;
  padding: 4px;
  border: 2px solid #3a8d5f;
  border-radius: 4px;
  margin-bottom: 25px;
  position: relative;
  top: 3rem;
  cursor: default;
}
