/* .main-container {
  height: 800rem;
}

.fixed-head {
  position: fixed;
  width: 100%;
  background-color: #e4e4e4;
  z-index: 1;
} */

.score {
  position: absolute;
  right: 2rem;
  top: 1rem;
}

.question-container {
  margin-left: 10px;
  position: relative;
  top: 7rem;
}

.question {
  width: 70rem;
  height: 3rem;
}

.no-option-selected {
  color: red;
}

.options {
  color: rgba(0, 0, 0, 0.87);
  width: 40rem;
  height: 10rem;
  margin: 5px;
  user-select: none;
}

.quiz-container {
  width: 75%;
  height: auto;
  margin: auto;
  border: 2px solid;
  border-radius: 5px;
  padding: 1rem;
  transform: translateY(35%);
}

.single-option {
  width: max-content;
  height: auto;
  margin: 1rem;
  cursor: pointer;
}

.action-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.radio {
  opacity: 1 !important;
}

.hidden {
  display: block !important;
}

.result-container {
  text-align: center;
  margin: auto;
  width: 40rem;
}

.result {
  font-size: 3rem;
}
